@import "mixins";

.article_heading {
    font-family: 'Lora', serif; 
    font-size: 36px;
    line-height: 46px;
}

.article_paragraph {
    max-width: 580px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
}

.contact_article_tabs__list span {
    font-family: 'Montserrat', sans-serif; 
}

.contact_article_tabs__list span:nth-of-type(2) {
    color: #828282;
}

.article_paragraph ~ .page_links {
    display: block;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.image_container img {
    max-width: 100%;
}

 
.article_links {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px; 
        & span {
         display: inline;
        }
     
        & svg {
            fill: #f2f2f2;
            transform: translate(8px, 8px);
        }
}

@media (min-width: 1114px) {
    .main_container {
        @include flex-row-alignement;
        gap: 100px;
    }

    .article_paragraph {
        font-size: 24px;
        line-height: 29px;
    }
}
