@import "mixins";

body {
    font-family: 'Montserrat', sans-serif;
    background: #181719;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    margin: 0;
    padding: 16px;
    color: #FFFFFF;
    position: relative;
}

ul {
    @include reset(ul);
}

a {
    text-decoration: none;
}

span {
    display: block;
}

@media(min-width: 1114px) {
    .page_container {
        max-width: 1114px;
        margin-left: auto;
        margin-right: auto;
    }
}