@import "mixins"; 
article.page_container__article:nth-of-type(2) {
    position: relative;
}

.contact_article_container {
    position: absolute;
    top: 78%;
    left: 12%;
    right: 12%;
    background: #181719; 
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.contact_article_container::after {
    content: "";
    display: block;
    background-color: #ffffff;
    width: 100%;
    height: 2px;
}

.page_tabs.contact_article_tabs {
    @include flex-row-alignement;
    justify-content: unset;
    padding: 16px;
}

.contact_article_tabs__list:first-of-type {
    max-width: 35%;
}

.contact_article_tabs__list:nth-of-type(2) {
    margin-top: 12px; 
}

.contact_article_tabs__list:nth-of-type(2) span:nth-of-type(1) {
    margin-bottom: 12px;
}

.page_paragraph.contact_article_paragraph {
    font-family: 'Lora', serif;
    padding-left: 24px;
}

.profile_image {
    max-width: 60%;
    border-radius: 50%;
    margin-right: 16px;
}

@media (min-width: 1114px) {
    .contact_article_container { 
        left: 30%;
        right: 5%;
    }

    .contact_article_container {
        max-width: 90%;
    }


    .page_paragraph.contact_article_paragraph {
        font-weight: bold;
        font-size: 24px;
        line-height: 31px; 
        padding-bottom: 34px;
        margin-top: 0;
    }

    .contact_article_tabs__list:nth-of-type(2) {
        margin-top: 12px; 
    }

    .contact_article_container::after {
        display: none;
    }
}
