body {
  font-family: "Montserrat";
  background: #181719;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  margin: 0;
  padding: 16px;
  color: #FFFFFF; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }
  ul > li {
    margin: 0;
    padding: 0; }

a {
  text-decoration: none; }

span {
  display: block; }

.page_header__heading {
  font-weight: 200;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  padding: 8px; }

.page_navigation {
  display: flex;
  flex-direction: column;
  display: none;
  padding-top: 10px; }

details[open] ~ nav {
  display: block; }

.page_navigation__tabs__list {
  padding-top: 32px; }

.page_links {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff; }

.article_heading {
  font-weight: normal;
  font-size: 36px;
  line-height: 46px; }

.article_paragraph {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px; }

.article_paragraph ~ .page_links {
  display: block;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  margin-top: 25px;
  margin-bottom: 25px; }

.image_container img {
  max-width: 100%; }

.page_footer {
  position: relative; }

.footer_container {
  position: absolute;
  top: -10%;
  z-index: 1;
  max-width: 70%;
  margin-left: 48px;
  padding: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }

.page_tabs.footer_tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: unset; }

.footer_tabs__list:first-of-type {
  max-width: 35%; }

.footer_tabs__list:nth-of-type(2) {
  margin-top: 12px;
  margin-left: 16px; }

.footer_tabs__list:nth-of-type(2) span:nth-of-type(1) {
  margin-bottom: 32px; }

.profile_image {
  max-width: 100%;
  border-radius: 50%;
  margin-right: 16px; }
