body {
  font-family: 'Montserrat', sans-serif;
  background: #181719;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  margin: 0;
  padding: 16px;
  color: #FFFFFF;
  position: relative; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }
  ul > li {
    margin: 0;
    padding: 0; }

a {
  text-decoration: none; }

span {
  display: block; }

@media (min-width: 1114px) {
  .page_container {
    max-width: 1114px;
    margin-left: auto;
    margin-right: auto; } }

.header_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.page_header__heading {
  font-family: 'Crimson Pro', serif;
  font-weight: 200;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  margin-top: 0;
  padding: 8px; }

.page_navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  background: #181719;
  transform: translateX(-150%); }
  .page_navigation a {
    font-family: 'Montserrat', sans-serif; }

.show_menu {
  margin-top: -12px; }
  .show_menu svg {
    width: 35px;
    height: 40px;
    fill: #f2f2f2; }

.display_menu {
  width: 100%;
  height: 115%;
  position: absolute;
  z-index: 1;
  transform: translateX(0%); }

.open_menu_btn,
.page_navigation_hide-menu-btn {
  background-color: unset;
  border: none;
  outline: none; }

.hideMenu {
  display: none; }

.page_navigation_hide-menu-btn {
  font-size: 32px;
  position: absolute;
  top: 0%;
  right: 10%;
  color: #f2f2f2; }

.page_navigation__tabs {
  margin-left: -24px;
  margin-top: -48px; }

.page_navigation__tabs__list {
  padding-top: 32px; }

.page_links {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff; }

.page_links:hover {
  font-weight: bold; }

@media (min-width: 1114px) {
  .header_container {
    margin-top: 50px;
    padding-bottom: 153px; }
  .show_menu {
    display: none; }
  .page_navigation {
    width: 50%;
    display: block;
    position: unset;
    transform: none; }
  .page_navigation__tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -40px;
    margin-left: 0; }
  .page_navigation_hide-menu-btn {
    display: none; } }

.article_heading {
  font-family: 'Lora', serif;
  font-size: 36px;
  line-height: 46px; }

.article_paragraph {
  max-width: 580px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px; }

.contact_article_tabs__list span {
  font-family: 'Montserrat', sans-serif; }

.contact_article_tabs__list span:nth-of-type(2) {
  color: #828282; }

.article_paragraph ~ .page_links {
  display: block;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  margin-top: 25px;
  margin-bottom: 25px; }

.image_container img {
  max-width: 100%; }

.article_links {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px; }
  .article_links span {
    display: inline; }
  .article_links svg {
    fill: #f2f2f2;
    transform: translate(8px, 8px); }

@media (min-width: 1114px) {
  .main_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 100px; }
  .article_paragraph {
    font-size: 24px;
    line-height: 29px; } }

article.page_container__article:nth-of-type(2) {
  position: relative; }

.contact_article_container {
  position: absolute;
  top: 78%;
  left: 12%;
  right: 12%;
  background: #181719;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }

.contact_article_container::after {
  content: "";
  display: block;
  background-color: #ffffff;
  width: 100%;
  height: 2px; }

.page_tabs.contact_article_tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: unset;
  padding: 16px; }

.contact_article_tabs__list:first-of-type {
  max-width: 35%; }

.contact_article_tabs__list:nth-of-type(2) {
  margin-top: 12px; }

.contact_article_tabs__list:nth-of-type(2) span:nth-of-type(1) {
  margin-bottom: 12px; }

.page_paragraph.contact_article_paragraph {
  font-family: 'Lora', serif;
  padding-left: 24px; }

.profile_image {
  max-width: 60%;
  border-radius: 50%;
  margin-right: 16px; }

@media (min-width: 1114px) {
  .contact_article_container {
    left: 30%;
    right: 5%; }
  .contact_article_container {
    max-width: 90%; }
  .page_paragraph.contact_article_paragraph {
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    padding-bottom: 34px;
    margin-top: 0; }
  .contact_article_tabs__list:nth-of-type(2) {
    margin-top: 12px; }
  .contact_article_container::after {
    display: none; } }
